

  .hide{
    display: none;
  }
  
  body {
    font-family: Arial;
    background-color: antiquewhite;
  }
  .searchForm{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .textDict{
    color: darkblue;
    font-size: 34px;
    letter-spacing: 2px;
  }

  .searchBox{
    height: 32px;
    width: 40%;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid grey;
    border-right: none;
  }

  .sub{
    height: 44px !important;
    padding: 5px 5px;
    width: 46px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid grey;
    border-left: none;
    background: white;
    font-size: 22px;
  }